<div class="text-field page-text">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field page-text">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
