<div class="text-field form-group" >
  <%= form.label :email, :class => 'whiteColor' %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field form-group">
  <%= form.label :password, :class => 'whiteColor' %>
  <%= form.password_field :password %>
</div>
